body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero Styles */
.logo {
    font-size: 24px;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
}

.title {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.content {
    width: 450px;
}

/* Common style among links, secondary text in hero, and footer */
.white-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

/* Navigation Bar Styles */
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav a {
    text-decoration: none;
}

/* Hero Image Styles */
.hero img {
    width: 500px;
    height: 220px;
    object-fit: cover;
    /* This makes it so that the image can be cropped without distortion */
}